
<div id="shipping" *ngIf="shipping" class="table-responsive">
    <table class="table table-striped">
      <tbody>
        <tr *ngIf="shipping.cost">
          <th scope="row">Shipping Cost</th>
          <td>{{shipping.cost}}</td>
        </tr>
        <tr *ngIf="shipping.location">
          <th scope="row">Shipping Locations</th>
          <td>{{shipping.location}}</td>
        </tr>
        <tr *ngIf="shipping.handlingTime">
          <th scope="row">Handling Time</th>
          <td>{{shipping.handlingTime}}</td>
        </tr>
        <tr *ngIf="shipping.expedited">
          <th scope="row">Expedited Shipping</th>
          <td>{{tick(shipping.expedited)}}}</td>
        </tr>

        <tr *ngIf="shipping.oneday">
          <th scope="row">One Day Shipping</th>
          <td>{{tick(shipping.oneday)}}</td>
        </tr>
        <tr>
            <th scope="row">Global Shipping</th>
            <td *ngIf="shipping.global"> <i class="fas fa-check"></i> </td>
            <td *ngIf="!shipping.global"> <i class="fas fa-times"></i> </td>
          </tr>
        <tr *ngIf="shipping.returnAccepted">
            <th scope="row">Return Accepted</th>
            <td>{{shipping.returnAccepted}}</td>
          </tr>
      </tbody>
    </table>
  </div>
