
<div id="info-div" *ngIf="seller" class="table-responsive">
    <table class="table table-striped">
      <tbody>
        <tr *ngIf="seller.feedbackScore">
          <th scope="row">Feedback Score</th>
          <td *ngIf="star()"> <i class="fas fa-star"></i> </td>
          <td *ngIf="!star()"><i class="far fa-star"></i></td>
        </tr>
        <tr *ngIf="seller.popularity">
          <th scope="row">Popularity</th>
          <td>
              <div class="progress-percentage-wrapper">
                  <div class="progress-percentage ng-cloak">{{seller.popularity}}</div>
                  <round-progress
                  current="{{seller.popularity}}"
                  [max]="100"
                  [color]="'#45ccce'"
                  [background]="'#eaeaea'"
                  [radius]="5"
                  [stroke]="0.2"
                  [rounded]="true"
                  [clockwise]="false"
                  [responsive]="true"
                  [duration]="800"
                  [animation]="'easeInOutQuart'"
                  [animationDelay]="0"
                  ></round-progress>
                  </div>

          </td>
        </tr>
        <tr *ngIf="seller.ratingStar">
          <th scope="row">Feedback Rating Star</th>
          <td *ngIf="star()"> <i class="fas fa-star"></i>  </td>
        </tr>
        <tr *ngIf="seller.topRated">
          <th scope="row">Top Rated</th>
          <td>{{seller.topRated}}</td>
        </tr>

        <!-- <tr *ngIf="seller.storeName">
          <th scope="row">Store Name</th>
          <td>{{seller.storeName}} </td>
        </tr>

        <tr *ngIf="seller.buyAt">
            <th scope="row">Buy Product At</th>
            <td>{{seller.buyAt}} </td>
          </tr> -->

      </tbody>
    </table>
  </div>
