.row {
  margin-bottom:15px;}

.required {
    color: red;
}

#form-header {
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  font-size: 35px;
  padding-bottom: 8px;
}


.search-form {

  margin-left: 40px;
}

.search-btn-group{
  margin-left: 30px;
}

.jumbotron  {

  padding-top: 10px;
}

#search-btn {
  margin-right: 15px;
  }

#search-btn-group {
  padding-top : 6px;
}
